.Favorites {
  width: 100%;
  min-height: calc(100vh - 160px);
  padding: 20px 0;
  margin: 0 auto;
}

.Favorites p {
  font-size: 0.8em;
}

.Favorites > h1 {
  padding: 10px;
}

.Favorites > span {
  padding: 10px;
  font-size: 2em;
  font-weight: bold;
}

.Favorites > div > p {
  text-align: center;
  margin: 38px 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (min-width: 450px) {
  .Favorites p {
    font-size: 1em;
  }
}

@media (min-width: 1100px) {
  .Favorites {
    width: 90%;
  }
}
