.Favorites {
  width: 90%;
  margin: 0 auto;
}

.Favorites > h1 {
  margin-top: 80px;
  padding: 10px;
}

.Favorites > span {
  padding: 10px;
  font-size: 2em;
  font-weight: bold;
}

.Favorites > p {
  text-align: center;
  margin: 38px 10px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1100px) {
  .Favorites {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .Favorites p {
    font-size: 0.8em;
  }
}
