.GridElement figure {
  position: relative;
  width: 200px;
  margin: 15px;
  border: 1px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  transition: transform 1s;
}

.GridElement img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.GridElement p {
  display: block;
  margin: 2.5px;
  color: brown;
  text-align: center;
  font-size: 0.8em;
  z-index: 10;
}

.GridElement p:first-of-type {
  font-size: 1em;
  font-weight: bold;
}

.GridElement figure:hover,
.GridElement figure:active {
  transform: scale(1.05);
}

.GridElement i {
  color: yellow;
}

.Favorite {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: yellow;
  background-color: #fff;
  top: 15px;
  right: 15px;
  font-size: 1em;
  outline: none;
  border: 0px solid transparent;
  color: white;
}