.Music {
  width: 100%;
  display: flex;
  flex-flow: column;
  position: relative;
}

.Music > span {
  padding: 20px 30px;
  font-size: 2em;
  font-weight: bold;
}

.Music > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  overflow-x: hidden;
}

.Music > div > figure {
  grid-column: 1/3;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  width: 90%;
  margin: 15px auto 0 auto;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  transition: transform 1s;
}

.Music > div > div > figure {
  flex-shrink: 0;
  width: 200px;
  margin: 15px;
  border: 1px solid #000;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: transform 1s;
}

.Music > div > figure:hover,
.Music > div > figure:active,
.Music > div > div > figure:hover,
.Music > div > div > figure:active {
  transform: scale(1.05);
}

.Music a {
  text-decoration: none;
  color: var(--interfaceColor);
}

.Music > div > button {
  position: absolute;
  width: 50px;
  height: 100px;
  padding: 0;
  color: white;
  font-size: 5em;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.Music > div > button:nth-of-type(2) > p {
  margin: 0 0 0 20px;
}

.Music > div > button:nth-of-type(1) > p {
  margin: 0 0 0 -40px;
}

.Music > div:nth-of-type(1) > button:nth-of-type(2),
.Music > div:nth-of-type(2) > button:nth-of-type(2),
.Music > div:nth-of-type(3) > button:nth-of-type(2) {
  right: 5px;
  transform: translateX(10%);
  border-radius: 50px 0 0 50px;
}

.Music > div:nth-of-type(1) > button:nth-of-type(1),
.Music > div:nth-of-type(2) > button:nth-of-type(1),
.Music > div:nth-of-type(3) > button:nth-of-type(1) {
  left: 5px;
  transform: translateX(-10%);
  border-radius: 0 50px 50px 0;
}

@media (min-width: 450px) {
  .Music > div > div > figure {
    width: 230px;
    margin: 15px;
  }
}

@media (max-width: 450px) {
  .Music > div {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .Music > div > button:nth-of-type(1),
  .Music > div > button:nth-of-type(2) {
    display: none;
  }
  .Music > div > div > figure {
    width: 146px;
    margin: 13px;
  }
  .Music p {
    font-size: 0.7em;
  }
  .Music p:first-of-type {
    font-size: 0.8em;
  }
}
