.Dashboard {
  width: 90%;
  margin: 80px auto 40px auto;
}

.Dashboard > h1 {
  padding: 10px;
}

.Music {
  color: rgb(51, 178, 224);
}

.Favorites {
  color: yellow;
}

.Playlists {
  color: brown;
}

@media (max-width: 1100px) {
  .Dashboard {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .Music,
  .Favorites,
  .Playlists {
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }
}
