.GridElement {
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px 10px 5px 10px;
  transition: transform 1s;
}

.GridElement img {
  width: 100%;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
}

.GridElement p {
  display: block;
  margin: 2.5px 0;
  color: var(--interfaceColor);
  z-index: 10;
  font-size: 0.8em;

  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.GridElement p:nth-of-type(1) {
  font-weight: bold;
  font-size: 0.8em;
}

.GridElement p:nth-of-type(2) {
  font-size: 0.6em;
}

.GridElement p:nth-of-type(3),
.GridElement p:nth-of-type(4) {
  display: none;
}

.Icon {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  outline: none;
  border: 0px solid transparent;
}

.Delete {
  color: red;
  top: 15px;
  left: 15px;
  font-size: 1em;
}

.Favorite {
  color: yellow;
  top: 14px;
  right: 15px;
  font-size: 1em;
}

.AddToPlaylist {
  color: dimgray;
  top: 14px;
  right: 48px;
  font-size: 1em;
}

.OpenGridElement {
  animation: openGridElement 0.7s ease-in forwards;
}

@media (min-width: 450px) {
  .GridElement {
    padding-bottom: 10px;
  }

  .GridElement:hover,
  .GridElement:active {
    transform: scale(1.05);
  }

  .GridElement p {
    text-align: center;
    text-overflow: initial;
    overflow: visible;
    white-space: normal;
  }

  .GridElement p:nth-of-type(1) {
    font-size: 1em;
  }

  .GridElement p:nth-of-type(2) {
    font-size: 0.8em;
  }

  .GridElement p:nth-of-type(3),
  .GridElement p:nth-of-type(4) {
    display: block;
  }
}

@keyframes openGridElement {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
