.GridElement {
  position: relative;
  border: 1px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  transition: transform 1s;
}

.GridElement img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.GridElement p {
  display: block;
  margin: 2.5px;
  color: var(--interfaceColor);
  text-align: center;
  z-index: 10;
  font-size: 0.8em;
}

.GridElement p:first-of-type {
  font-weight: bold;
  font-size: 1em;
}

.GridElement:hover,
.GridElement:active {
  transform: scale(1.05);
}

.Icon {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  outline: none;
  border: 0px solid transparent;
}

.Delete {
  color: red;
  top: 15px;
  left: 15px;
  font-size: 1em;
}

.Favorite {
  color: yellow;
  top: 15px;
  right: 15px;
  font-size: 1em;
}

.AddToPlaylist {
  color: dimgray;
  top: 15px;
  right: 48px;
  font-size: 1em;
}

.OpenGridElement {
  animation: openGridElement 0.7s ease-in forwards;
}

@media (max-width: 450px) {
  .GridElement p:first-of-type {
    font-size: 0.8em;
  }
  .GridElement p:not(:first-of-type) {
    font-size: 0.7em;
  }
}

@keyframes openGridElement {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
