.SideDrawer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  width: 280px;
  background-color: white;
  height: 100%;
  padding: 15px;
  transition: transform 1s ease-out;
  z-index: 100;
}

.SideDrawer a {
  border-radius: 5px;
  background-color: brown;
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: transform 0.1s;
}

.SideDrawer a:hover,
.SideDrawer a:active {
  background-color: rgb(167, 73, 73);
}

.SideDrawer a:active {
  transform: scale(1.02);
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
