.AddToPlaylist {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.AddToPlaylist > div {
  width: 45%;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
}

.AddToPlaylist h1 {
  padding: 0 10px 10px 10px;
  text-align: center;
  font-size: 2em;
  font-weight: normal;
  margin: 0 auto;
}

.AddToPlaylist h1 + span {
  text-align: center;
  padding: 5px 0;
  margin-bottom: 10px;
}

.AddToPlaylist button {
  text-transform: uppercase;
  outline: none;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
  width: 100%;
  padding: 6px;
  border-radius: 5px;
}

.AddToPlaylist button:hover,
.AddToPlaylist button:active {
  background-color: rgb(73, 195, 240);
}

.AddToPlaylist button:active {
  transform: scale(1.02);
}

.Buttons {
  display: flex;
}

.Button {
  margin-top: 15px;
  margin-right: 8px;
  background-color: rgb(51, 178, 224);
  color: white;
}

.Button:disabled {
  background-color: rgb(83, 83, 83);
}

.Button:disabled:hover {
  cursor: not-allowed;
  background-color: rgb(134, 134, 134);
}

.Cancel {
  margin-top: 15px;
  margin-left: 8px;
  background-color: rgb(51, 178, 224);
  color: white;
}

.Icon{
  flex: 0.1;
  height: 50%;
  margin: 0;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1.7em;
  outline: none;
  color: green;
}

.Playlists {
  display: block;
  max-height: 220px;
  overflow-y: auto;
  padding-right: 10px;
  border-top: 1px solid brown;
  border-bottom: 1px solid brown;
}

.Playlist {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
}

.Playlist span {
  flex: 1;
  font-size: 1.4em;
  font-weight: bold;
}

.OpenModal {
  animation: openModal 0.7s ease forwards;
}

.CloseModal {
  animation: closeModal 0.7s ease forwards;
}

@media (max-width: 600px) {
  .AddToPlaylist > div {
    width: 300px;
  }
  .Playlist span{
    font-size: 1.2em;
  }
}

@keyframes openModal {
  0% {
    height: 0;
    padding: 0;
  }
  30% {
    height: 0;
    padding: 0 20px 0 20px;
  }
  100% {
    height: auto;
    padding: 20px;
  }
}

@keyframes closeModal {
  0% {
    height: auto;
    padding: 20px;
  }
  100% {
    height: 0;
    padding: 0 20px 0 20px;
  }
}
