.More {
  width: 100%;
  min-height: calc(100vh - 120px);
}

.More > div {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  box-sizing: border-box;
}

.More > div > div {
  width: 146px;
  margin: 13px 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  box-sizing: border-box;
}

.SearchIcon {
  position: fixed;
  padding: 17.5px;
  font-size: 1.6em;
  right: 30px;
  bottom: 30px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(73, 195, 240);
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.7);
  transition: opacity 1s ease;
  opacity: 0.8;
  z-index: 50;
}

.SearchIcon:hover {
  opacity: 0.9;
}

.LoadMore {
  display: block;
  margin: 0 auto 20px auto;
  outline: none;
  background-color: rgb(51, 178, 224);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 0.9em;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  padding: 10px 60px;
  border-radius: 20px;
  opacity: 0.8;
  transition: transform 0.1s;
}

.LoadMore:hover,
.LoadMore:active {
  background-color: rgb(73, 195, 240);
}

.LoadMore:active {
  transform: scale(1.1);
}

@media (min-width: 450px) {
  .More > div > div {
    width: 190px;
    margin: 15px;
  }
}

@media (min-width: 600px) {
  .More > div > div {
    width: 230px;
  }
}

@media (min-width: 800px) {
  .More > div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1050px) {
  .More > div {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1300px) {
  .More > div {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1580px) {
  .More > div {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1850px) {
  .More > div {
    grid-template-columns: repeat(7, 1fr);
  }
}
