.Home {
  position: relative;
  background: url("../../assets/background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: -40px;
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.Home > div div {
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

.Home p {
  margin: 100px 0 0 0;
  padding: 20px;
  color: white;
  font-size: 2em;
  text-align: center;
  line-height: 50px;
}

.Home > div > div > div {
  text-align: center;
}

.Home a {
  display: inline-block;
  text-decoration: none;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 10px;
  transition: transform 1s ease;
}

.Home a:hover,
.Home a:active {
  transform: scale(1.1);
}

.Login {
  background-color: white;
  color: rgb(51, 178, 224);
}

.Register {
  background-color: rgb(51, 178, 224);
  color: white;
}

@media (max-width: 600px) {
  .Home{
    height: 70vh;
  }
  .Home p {
    margin: 15px 0 0 0;
  }
}
