.Information {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.Information p {
  margin: 10px;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

@media (max-width: 450px) {
  .Information {
    background-image: url("../../../assets//background.jpg");
    background-position: 50%;
    background-size: cover;
  }
  .Information p {
    font-size: 1em;
  }
}
