.ListElement {
  display: flex;
  margin: 38px 10px;
  justify-items: center;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.ListElement img {
  flex: 0.5;
  border-radius: 3px;
  width: 100px;
}

.ListElement p {
  text-align: center;
  flex: 1;
  margin: 2.5px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.8);
}

.ListElement > button,
.ListElement > a {
  flex: 0.2;
  margin: 1px;
  padding: 1px 6px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  outline: none;
  border: none;
  border-style: double;
  border-width: 2px;
}

.Play {
  color: rgb(73, 195, 240);
}

.Favorites {
  color: yellow;
}

.Remove {
  color: red;
}

.Hidden {
  display: none;
  overflow: hidden;
}

.OpenListElement {
  animation: openListElement 0.7s ease-in forwards;
}

.CloseListElement {
  animation: closeListElement 0.7s ease-out forwards;
}

@media (max-width: 700px) {
  .ListElement p:nth-of-type(3) {
    display: none;
  }
}

@media (max-width: 600px) {
  .ListElement p:nth-of-type(4) {
    display: none;
  }
}

@media (max-width: 450px) {
  .ListElement {
    margin: 30px 10px;
  }
  .ListElement p:nth-of-type(2) {
    display: none;
  }
  .ListElement p {
    font-size: 0.8em;
  }
  .ListElement img {
    flex: 0.5;
    width: 70px;
  }
}

@keyframes openListElement {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes closeListElement {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
