.More {
  width: 100%;
}

.More > div {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.More figure {
  width: 230px;
  margin: 15px;
  box-sizing: border-box;
}

.More p {
  font-size: 0.8em;
}

.More p:first-of-type {
  font-size: 1em;
}

.Search {
  position: fixed;
  top: 12px;
  left: 25px;
  z-index: 50;
  display: block;
  outline: none;
  padding: 8px;
  border: 2px solid lightgray;
  border-radius: 5px;
  color: dimgray;
  font-size: 0.9em;
  box-sizing: border-box;
  width: calc(100% - 545px);
  transition: box-shadow 0.3s;
}

.Search:focus {
  border: 2px solid lightblue;
  box-shadow: 0 0 5px lightblue;
}

.NotFound {
  text-align: center;
  margin: 120px auto 400px auto;
}

.LoadMore {
  display: block;
  margin: 20px auto 0 auto;
  outline: none;
  background-color: rgb(51, 178, 224);
  font-weight: bold;
  font-size: 0.9em;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  padding: 10px 35px;
  border-radius: 20px;
  transition: transform 0.1s;
}

.LoadMore:hover,
.LoadMore:active {
  background-color: rgb(73, 195, 240);
}

.LoadMore:active {
  transform: scale(1.1);
}

@media (min-width: 1900px) {
  .More > div {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 1900px) {
  .More > div {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1600px) {
  .More > div {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1050px) {
  .More > div {
    grid-template-columns: repeat(4, 1fr);
  }
  .More figure {
    width: 220px;
    margin: 15px;
  }
}

@media (max-width: 800px) {
  .More > div {
    grid-template-columns: repeat(3, 1fr);
  }
  .More figure {
    width: 220px;
    margin: 15px;
  }
}

@media (max-width: 450px) {
  .More > div {
    grid-template-columns: repeat(2, 1fr);
  }
  .More figure {
    width: 146px;
    margin: 13px 5px;
  }
  .More p {
    font-size: 0.7em;
  }
  .More p:first-of-type {
    font-size: 0.8em;
  }
}

@media (max-width: 1000px) {
  .Search {
    margin-left: 70px;
    width: calc(100% - 105px);
  }
}
