.More {
  width: 100%;
}

.More > div {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.More figure {
  position: relative;
  width: 200px;
  margin: 15px;
  border: 1px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  transition: transform 1s;
}

.More img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.More p {
  display: block;
  margin: 2.5px;
  color: brown;
  text-align: center;
  font-size: 0.8em;
  z-index: 10;
}

.More p:first-of-type {
  font-size: 1em;
  font-weight: bold;
}

.More figure:hover,
.More figure:active {
  transform: scale(1.05);
}

.More i {
  color: yellow;
}

.Favorite {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: yellow;
  background-color: #fff;
  top: 15px;
  right: 15px;
  font-size: 1em;
  outline: none;
  border: 0px solid transparent;
  color: white;
}

.LoadMore {
  display: block;
  margin: 40px auto 0 auto;
  outline: none;
  background-color: rgb(51, 178, 224);
  font-weight: bold;
  font-size: 0.9em;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  padding: 10px 35px;
  border-radius: 20px;
  transition: transform 0.1s;
}

.LoadMore:hover,
.LoadMore:active {
  background-color: rgb(73, 195, 240);
}

.LoadMore:active {
  transform: scale(1.1);
}

@media (max-width: 1290px) {
  .More > div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1030px) {
  .More > div {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 780px) {
  .More > div {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 525px) {
  .More > div {
    grid-template-columns: 1fr;
  }
}
