.Playlist {
  display: flex;
  margin: 2.5px;
  padding: 2.5px;
  justify-content: center;
  align-items: center;
}

.Playlist div:nth-of-type(1) {
  flex: 1;
  display: flex;
  flex-flow: column;
  margin: 15px 0;
}

.Playlist div:nth-of-type(2) {
  display: flex;
  flex: 1;
  justify-content: center;
}

.Playlist span {
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

.Playlist p {
  flex: 1;
  text-align: center;
  margin: 0;
}

.Playlist > div > button,
.Playlist > div > a {
  flex: 0.2;
  margin: 1px;
  padding: 1px 6px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  outline: none;
  border: none;
  border-style: double;
  border-width: 2px;
}

.Playlist + div {
  display: none;
  flex-flow: column;
}

.Playlist + div > div {
  margin: 8px 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.OpenPlaylist {
  animation: openPlaylist 0.7s ease-in forwards;
}

.ClosePlaylist {
  animation: closePlaylist 0.7s ease-out forwards;
}

.Play {
  color: rgb(73, 195, 240);
}

.Edit {
  color: green;
}

.Remove {
  color: red;
}

.Expand {
  color: orange;
}

.Center {
  text-align: center;
}

@media (max-width: 450px) {
  .Playlist div:nth-of-type(2) {
    width: 100%;
  }
  .Playlist > p:nth-of-type(1) {
    display: none;
  }
  .Playlist > p:nth-of-type(2) {
    display: none;
  }
  .Playlist span {
    font-size: 1.1em;
  }
  .Playlist button {
    flex: 1;
  }
}

@keyframes openPlaylist {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes closePlaylist {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
