.Information {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  width: 100%;

  background-image: url("../../../images//background.jpg");
  background-position: 50%;
  background-size: cover;
}

.Information p {
  margin: 10px;
  color: white;
  text-align: center;
  font-size: 1em;
}

@media (min-width: 800px) {
  .Information {
    background: none;
  }
  .Information p {
    font-size: 1.2em;
  }
}
