.Playlists {
  width: 90%;
  min-height: 70vh;
  margin: 80px auto 40px auto;
}

.Playlists > h1 {
  padding: 10px;
}

.Playlists > div {
  margin: 22px 10px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.Playlists > div > p {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.CreatePlaylist {
  text-transform: uppercase;
  outline: none;
  font-weight: bold;
  font-size: 0.9em;
  cursor: pointer;
  margin: 0 10px;
  padding: 6px;
  border-radius: 5px;
  transition: transform 0.1s;
  background-color: rgb(51, 178, 224);
  color: white;
}

.CreatePlaylist:hover,
.CreatePlaylist:active {
  background-color: rgb(73, 195, 240);
}

.CreatePlaylist:active {
  transform: scale(1.02);
}

@media (max-width: 1100px) {
  .Playlists {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .Playlists > div > div p:nth-of-type(2) {
    display: none;
  }
}

@media (max-width: 600px) {
  .Playlists > div p:nth-of-type(4) {
    display: none;
  }
}

@media (max-width: 450px) {
  .Playlists > div p:nth-of-type(2) {
    display: none;
  }
  .Playlists p {
    font-size: 0.8em;
  }
}

@media (max-width: 450px) {
  .Playlists > div {
    padding: 5px;
  }
}
