.NotFound {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 540px;
  margin-bottom: -40px;
}

.NotFound img {
  width: 250px;
  border-radius: 20px;
}

.NotFound h1 {
  margin: 0;
  text-align: center;
  margin: 30px auto;
}

@media (max-width: 450px) {
  .NotFound img {
    width: 175px;
  }
  .NotFound h1 {
    font-size: 1.5em;
  }
}
