.Login {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Login form {
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.Login h1 {
  font-size: 3em;
  font-weight: normal;
  margin: 20px auto;
}

.Login span {
  margin: auto;
}

.Login input {
  display: block;
  outline: none;
  width: 100%;
  display: block;
  padding: 12px;
  border: 2px solid lightgray;
  border-radius: 5px;
  color: dimgray;
  margin-top: 15px;
  font-size: 0.9em;
  box-sizing: border-box;
  transition: box-shadow 0.3s;
}

.Login input:focus {
  border: 2px solid lightblue;
  box-shadow: 0 0 5px lightblue;
}

.Login input.Invalid {
  border: 2px solid rgb(252, 135, 135);
  box-shadow: 0 0 5px rgb(252, 135, 135);
}

.Login p {
  color: red;
  margin: 0;
  padding: 10px 15px 0 15px;
  font-size: 0.7em;
}

.Login button {
  text-transform: uppercase;
  outline: none;
  background-color: rgb(51, 178, 224);
  font-weight: bold;
  font-size: 0.9em;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  transition: transform 0.1s;
}

.Login button:hover,
.Login button:active {
  background-color: rgb(73, 195, 240);
}

.Login button:active {
  transform: scale(1.02);
}

@media (max-width: 600px) {
  .Login form {
    width: 300px;
  }
}
