.Music {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.Music span {
  padding: 30px;
  font-size: 2em;
  font-weight: bold;
}

.Music > div {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}

.Music figure {
  flex-shrink: 0;
  width: 200px;
  margin: 15px;
  border: 1px solid #000;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  transition: transform 1s;
}

.Music figure:hover,
.Music figure:active {
  transform: scale(1.05);
}

.Music a {
  text-decoration: none;
  color: brown;
}

.Music > button {
  position: fixed;
  bottom: 40%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: white;
  font-size: 5em;
  outline: none;
  border: none;
  cursor: pointer;
  transform: translateX(50%);
  background-color: rgba(0, 0, 0, 0.33);
}

.Music > button:nth-of-type(1) {
  right: 0;
  transform: translateX(50%);
}

.Music > button:nth-of-type(2) {
  left: 0;
  transform: translateX(-50%);
}

.Music > button:nth-of-type(1):active {
  transform: translateX(45%);
}

.Music > button:nth-of-type(2):active {
  transform: translateX(-45%);
}
