.Player {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  background-image: url("../../assets//background.jpg");
  background-position: 50%;
  height: 80vh;
}

.Player > div {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

  margin-top: 60px;
  height: calc(100% - 60px);
}

.Player > div:first-child {
  max-width: 33.33%;
  display: none;
}

.Player span.active {
  color: var(--interfaceColor);
}

.Player li.active {
  animation: anim 4s ease;
  animation-iteration-count: infinite;
}

.TopSection {
  display: flex;
  align-items: center;
  position: fixed;
  top: 60px;
  padding: 10px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  background-color: whitesmoke;
}

.TopSection > div {
  max-width: calc(100% - 90px);
}

.PlaylistIcon {
  position: fixed;
  top: 72.5px;
  right: 10px;
  cursor: pointer;
  font-size: 2.2em;
  padding-right: 5px;
}

.Brown {
  color: var(--interfaceColor);
}

@media (min-width: 800px) {
  .Player {
    flex-flow: row;
  }

  .Player > div {
    margin-top: 0;
    height: auto;
  }

  .Player > div:first-child {
    display: block;
  }

  .TopSection {
    display: none;
  }
}

@keyframes anim {
  0% {
    background-color: white;
    color: black;
  }
  50% {
    background-color: var(--interfaceColor);
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}
