.Playlist {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: column;
}

.Playlist > li {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  margin: 10px;
}

.Playlist span {
  display: block;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  word-break: break-word;
}

.Playlist span:hover,
.Playlist span:active {
  color: var(--interfaceColor);
}

@media (max-width: 450px) {
  .Playlist {
    z-index: 50;
    position: absolute;
    top: 0;
    background-image: url("../../../assets//background.jpg");
    background-position: 50%;
    background-size: cover;
  }
}
